RTSP_URL=rtsp://192.0.2.10/live.sdp
LOCAL_MQTT_URL=mqtt://127.0.0.1:1883
LOCAL_MQTT_TOPIC=YOUR_DEVICE_ID
LOCAL_MQTT_USERNAME=doorbell-notifier
LOCAL_MQTT_PASSWORD=CHANGE_ME
BARESIP_CONTROL_HOST=127.0.0.1
BARESIP_CONTROL_PORT=4444
NOTIFIER_PORT=3003
WEBHOOK_SECRET=CHANGE_ME
WAHA_URL=http://127.0.0.1:3002
WAHA_API_KEY=CHANGE_ME
WAHA_SESSION=CHANGE_ME
WAHA_CHAT_ID=CHANGE_ME@g.us
WAHA_WEBHOOK_SECRET=CHANGE_ME
UNLOCK_ENABLED=false
UNLOCK_ALLOWED_PARTICIPANTS=
UNLOCK_ALLOW_WHOLE_GROUP=false
UNLOCK_WINDOW_MS=120000
LOCAL_MQTT_FROM=whatsapp
MIN_IMAGE_BYTES=8000
MAX_CAPTURE_ATTEMPTS=5
CAPTURE_RETRY_MS=250
